.primary-heading {
  font-size: 2.7rem;
  font-weight: 500;
}

.secondary-heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: #444343;
  overflow: hidden;
  padding-bottom: .3rem;
  margin-bottom: .7rem;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
  padding: 10px;
}

.highlighted-match {
  font-weight: bold;
  color: crimson;
}

.highlighted-match-party {
  font-weight: bold;
}

.highlighted-line {
  background-color: lightgoldenrodyellow;
}

.highlighted-match-bgr {
  background-color: green;
  color: white;
}

.highlighted-match-spd {
  background-color: red;
  color: white;
}

.highlighted-match-linke {
  background-color: deeppink;
  color: white;
}

.highlighted-match-afd {
  background-color: blue;
  color: white;
}

.highlighted-match-cdu {
  background-color: black;
  color: white;
}