{% extends "layout.html" %}
{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="primary-heading">Dashboard zur statistischen Analyse öffentlicher Dokumente im Sächsischen Landtag</h2>
      <h2 class="secondary-heading">Was wurde wie oft gesagt im Sächsischen Landtag</h1>
      <p>Das Projekt versucht die Protokolle und möglicherweise später auch alle anderen öffentlichen Dokumente im Sächsischen Landtag durchsuchbar zu machen und durch unterschiedliche Visualisierungen auch greifbar zu machen und anschaulich darzustellen.</p>
    </div>
  </div>
  <div class="container">
    <div class="flex-fill">
      <h4>Probiere es selbst aus</h4>
      <div class="container">
        <div class="form-inline">
          <div class="form-group">
            <input id="custom-graph-input" type="text" value="Wirtschaft,Sozial"/>
          </div>
          <button id="custom-graph-button" class="btn btn-primary">Darstellen</button>
        </div>
        <div class="container" id="custom-graph-occurrences"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="flex-fill">
      <p>Suche nach Worten in den Plenarprotokollen, klicke auf ein Resultat, um das Protokoll anzuschauen.</p>
      <input id="plenar-document-search-auto-complete" class="form-control" type="text" autocomplete="off">
    </div>
  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="flex-fill col-md-6">
        <h4>Viele Zurufe verheißen eine hitzige Debatte</h4>
        <div class="container" id="zuruf-occurrences"></div>
      </div>
      <div class="flex-fill col-md-6">
        <h4>Dreht es sich nur um Corona?</h4>
        <div class="container" id="corona-occurrences"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="flex-fill">
      <h4>Reden wir über Positives oder Negatives?</h4>
      <div class="container" id="angst-vs-zuversicht"></div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row">
      <h3 class="primary-heading">Häufigste Wörter</h1>
      <h4 class="secondary-heading">Sogenannte Stoppwörter, also Wörter ohne Bedeutung wie „und” oder „der”, die sehr häufig auftreten, werden nicht dargestellt.</h2>
    </div>
    <div class="row">
      <div class="col">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="gram1-tab" data-toggle="tab" href="#gram1" role="tab" aria-controls="gram1"
              aria-selected="true">Worte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="gram2-tab" data-toggle="tab" href="#gram2" role="tab" aria-controls="gram2"
              aria-selected="false">Wortpaare</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="gram3-tab" data-toggle="tab" href="#gram3" role="tab" aria-controls="gram3"
              aria-selected="false">Wortdrillinge</a>
          </li>
        </ul>
        <div class="tab-content pt-3 pb-4 mb-4" id="myTabContent">
          <div class="tab-pane fade show active p-1" id="gram1" role="tabpanel" aria-labelledby="gram1-tab">
            <table id="1-gram-occurrences" class="table table-striped table-bordered table-sm" cellspacing="0" >
              <thead>
                <tr>
                  <th class="th-sm">Index</th>
                  <th class="th-sm">Häufigkeit</th>
                  <th class="th-sm">Wort</th>
                </tr>
              </thead>
              <tbody>
                {% for key1, value1 in gram1_values.items() %}
                  <tr>
                    <td>{{ key1 }}</td>
                    <td>{{ value1.occurrences }}</td>
                    <td>{{ value1.wort }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="gram2" role="tabpanel" aria-labelledby="gram2-tab">
            <table id="2-gram-occurrences" class="table table-striped table-bordered table-sm" cellspacing="0" >
              <thead>
                <tr>
                  <th class="th-sm">Index</th>
                  <th class="th-sm">Häufigkeit</th>
                  <th class="th-sm">Wortpaare</th>
                </tr>
              </thead>
              <tbody>
                {% for key1, value1 in gram2_values.items() %}
                  <tr>
                    <td>{{ (key1 | int) + 1 }}</td>
                    <td>{{ value1.occurrences }}</td>
                    <td>{{ value1.wort }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="gram3" role="tabpanel" aria-labelledby="gram3-tab">
            <table id="3-gram-occurrences" class="table table-striped table-bordered table-sm" cellspacing="0" >
              <thead>
                <tr>
                  <th class="th-sm">Index</th>
                  <th class="th-sm">Häufigkeit</th>
                  <th class="th-sm">Wortdrillinge</th>
                </tr>
              </thead>
              <tbody>
                {% for key1, value1 in gram3_values.items() %}
                  <tr>
                    <td>{{ (key1 | int) + 1 }}</td>
                    <td>{{ value1.occurrences }}</td>
                    <td>{{ value1.wort }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>       
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  vegaEmbed('#corona-occurrences', {{ CORONA_OCCURRENCES_SPEC | safe }});
  vegaEmbed('#zuruf-occurrences', {{ ZURUF_SPEC | safe }});
  vegaEmbed('#angst-vs-zuversicht', {{ GEFUEHL_SPEC | safe }});      

  $('#1-gram-occurrences').DataTable();
  $('#2-gram-occurrences').DataTable();
  $('#3-gram-occurrences').DataTable();
  $('.dataTables_length').addClass('bs-select');

  $('#custom-graph-input').tagsinput({ maxTags: 3 });

  $('#plenar-document-search-auto-complete').autoComplete({
    resolver: 'custom',
    resolverSettings: { 'requestThrottling' : 1000 },
    formatResult: function (item) {
      displayText = 
        '<a href="display-document?filename='+item.filename+'&searchString='+item.foundForString+'">' + 
          item.meetingID + ". Sitzung, " + item.meetingDate + ": „" + 
          item.occurrence.replace("herausforderungen", "<b>herausforderungen</b>") +  "” ("+item.count+" Treffer)";
        '</a>'
      
        return {
        value: item.filename,
        text: displayText,
        html: [ displayText ] 
      };
    },
    events: {
      search: function (query, callback) {
        // let's do a custom ajax call
        $.ajax(
          "/search", 
          {
            data: { 
              'query' : query,
              'contextLength' : 4
            }
          }
        ).done(function (res) {
          callback(res.results)
        });
      }
    }
  });

  $('#custom-graph-button').on('click', function(event) {
    $.ajax("/graph", {
      data : $.param({ word: $("#custom-graph-input").tagsinput('items')}, true),
      dataType: "json",
      success: function (data) {
        console.log("SUCCESS")
        console.log(data)
        vegaEmbed('#custom-graph-occurrences', data);
      },
      error: function (error) {
        console.log("error")
        console.log(error)
      }
    });
  });
  

  
{% endblock %}