{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
  <h1 class="primary-heading">
    Protokoll der {{meetingID}}. Sitzung vom {{meetingDate}}
  </h1>
  <p>
    Alle <b>{{numberOfMatches}}</b> gefundenen Übereinstimmungen mit dem Suchwort <span class="highlighted-match">{{request.args.get('searchString')}}</span> werden farblich markiert. Per Click auf die Liniennummer gelangt man zu Textstelle.
  </p>
  <p>
    {% for matchingLine in matchingLines: %}
      <a href="#highlighted-line-{{matchingLine}}">{{matchingLine}}</a>{{ ", " if not loop.last }}
    {% endfor %}
  </p>
  <div class="alert alert-danger" role="alert">
    Da die Protokolle des Landtags nicht in maschinenlesbarer Form veröffentlicht werden, müssen die Daten aufwendig aus PDF Dateien extrahiert werden.
    Dieser Prozess ist fehleranfällig. 
    So kann es dazu kommen, dass beispielsweise die Reihenfolge des Protokolls nicht der tatsächlichen Abfolge im Dokument entspricht. 
    Außerdem ist die Lesbarkeit dadurch sehr eingeschränkt.
  </div>
</div>
<table class="table container table-hover table-condensed table-striped">
  <thead>
    <tr>
      <th scope="col">Linie</th>
      <th scope="col">Text</th>
    </tr>
  </thead>
  <tbody>
    {% for line in lines: %}
      <tr id="highlighted-line-{{loop.index}}" class="{{ 'highlighted-line' if '<span' in line and 'highlighted-match-party' not in line else '' }}">
        <td>{{loop.index}}</td>
        <td>{{ line | safe }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}